<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Enter the details of your profile and press submit</h5>
      
        <div class="form-group">
          <input type="text" class="form-control" formControlName="email" placeholder="Enter your Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Enter your Phone Number">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="level" placeholder="Enter your Level">
        </div>  
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>