@{
    ViewBag.Title = I18N.WebApplication.About_Title;
}
<div class="post-single mt-5">
    <div class="post-details">
        <div class="row">
            <div class="pull-left"><h1>@ViewBag.Title<a href="#"></a></h1></div>
        </div>
        <div class="post-body">
            <div class="row">
                <div class="col pl-0">
                    <h3>@ViewBag.Message</h3>
                </div>
            </div><div class="row">
                <div class="col pl-0">
                    <p>Use this area to provide additional information.</p>
                </div>
            </div>
        </div>
    </div>
</div>

