<body>
  <div class="container">
    <nav class="navbar navbar-light navbar-expand bh-light navigation-clean">
      <div class="container">
        <div id="navcol1" class="collapse navbar-collapse">
          <a class="btn btn-primary ml-auto" [routerLink]="[ '/create-event']" role="button">Create Event</a>
        </div>
      </div>
    </nav>
    <h2>Upcoming Events</h2>
    <div class="card" *ngFor="let item of events">
      <div class="card-body">
        <h4 class="card-title">{{item.name}}</h4>
        <p class="card-text">{{item.id}}</p>
        <button [routerLink]="[ '/register-event', item.id]">Register</button>
      </div>
    </div>
  </div>
</body>