<div class="card" style="width: 36rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Event Name</h5>
    <p class="card-text">Event description</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Coaches</li>
    <li class="list-group-item">Level</li>
    <li class="list-group-item">Date</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Register</a>
    <a href="#" class="card-link">Cancel(only for headcoach)</a>
  </div>
</div>
