<app-navbar></app-navbar>
<div class="card">
  <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-title">Profile</h5>
    <div class="row">
      <div class="col-xs-12 col-md-2">
        Fullname :
      </div>
      <div class="col">
        {{user.displayName}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-2">
        Email :
      </div>
      <div class="col">
          {{user.email}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-2">
        Phone Number :
      </div>
      <div class="col">
          {{userData.PhoneNumber}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-2">
        My level :
      </div>
      <div class="col">
          {{userData.CategoryId}}
      </div>
    </div>
    <a [routerLink]="['/profile/edit']" routerLinkActive="router-link-active"  class="btn btn-primary">Edit my informations</a>
  </div>
</div>