@{
    ViewBag.Title = "Login Failure";
}
<div class="post-single">
    <div class="post-details">
        <div class="row">
            <div class="pull-left"><h1>@ViewBag.Title</h1></div>
        </div>
        <div class="post-body">
            <h3 class="text-danger">Unsuccessful login with service.</h3>
        </div>
    </div>
</div>
