@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="post-single">
    <div class="post-details">
        <div class="post-meta d-flex justify-content-between">
            <div class="category"><a href="#">Business</a><a href="#">Financial</a></div>
        </div>
        <h1>@ViewBag.Title<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
        <div class="post-body">
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>
	
